@model BusinessLayer.Models.IhtiyacSahibiModelleri.IhtiyacSahibiModel

@{
    ViewBag.Title = "İhtiyaç Sahibi Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-xs-12">
    <h2>İhtiyac Sahibi Düzenle</h2>


    @if (TempData["hata"] != null)
    {
        <div class="col-md-12 col-xs-12">
            <div class="alert alert-danger">
                @TempData["hata"].ToString()
            </div>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(m=>m.IhtiyacSahibiId)
                @Html.LabelFor(model => model.IhtiyacSahibiAdi, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IhtiyacSahibiAdi, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.IhtiyacSahibiAdi, "", new {@class = "text-danger"})
                </div>
                @Html.LabelFor(model => model.IhtiyacSahibiSoyadi, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IhtiyacSahibiSoyadi, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.IhtiyacSahibiSoyadi, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IhtiyacSahibiTelNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IhtiyacSahibiTelNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IhtiyacSahibiTelNo, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.IhtiyacSahibiAdres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IhtiyacSahibiAdres, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IhtiyacSahibiAdres, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sehir.SehirId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Sehir.SehirId, (List<SelectListItem>)ViewBag.sehirler, "Şehir Seçiniz", htmlAttributes: new { @class = "form-control", @id = "sehirId" })
                    @Html.ValidationMessageFor(model => model.Sehir.SehirId, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.IhtiyacSahibiAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IhtiyacSahibiAciklama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IhtiyacSahibiAciklama, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <center>
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </center>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Listeye Geri Dön", "Liste")
    </div>

</div>