@model IEnumerable<BusinessLayer.Models.IhtiyacSahibiModelleri.IhtiyacSahibiKontrolModel>

@{
    ViewBag.Title = "İhtiyaç Sahibi Kontrol Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-xs-12">
    @if (TempData["uyari"] != null)
    {
        <div class="alert alert-success">
            @TempData["uyari"].ToString()
        </div>
    }
    @if (TempData["hata"] != null)
    {
        <div class="alert alert-danger">
            @TempData["hata"].ToString()
        </div>
    }
    <div class="col-md-12 col-xs-12">
        <h2>İhtiyac Sahibi Kontrol Listesi</h2>
        <p>
            @Html.ActionLink(" ", "Ekle", new { }, new { @class = "glyphicon glyphicon-plus" }) |
            <span class="glyphicon glyphicon-arrow-down" id="arama"></span>
        </p>
        <div class="form-horizontal" id="aramaSecenekleri" hidden>
            <div class="col-md-12">
                <div class="col-md-4">
                    <input type="text" placeholder="Ara" class="form-control" id="ara" />
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("SehirId", (List<SelectListItem>)ViewBag.sehirler, "Şehir Seçiniz", htmlAttributes: new { @class = "form-control", @id = "sehirId" })
                </div>
                <div class="col-md-4">
                    <input type="date" id="tarih" class="form-control" />
                </div>
                <br /><br />
                <div class="col-md-12 col-xs-12">
                    <center>
                        <button type="button" class="btn btn-success" style="width: 100%" id="filtrele">Filtrele</button>
                    </center>
                </div>
            </div>
            <br /><br /><br class="hidden-xs" /><br class="hidden-xs" />
        </div>
    </div>
    <table id="tablo" class="points_table col-xs-12 col-md-12" style="margin-top:10px">
        <thead>
            <tr>
                <th class="col-md-2 col-xs-3">@Html.DisplayNameFor(model => model.IhtiyacSahibiAdiSoyadi)</th>
                <th class="col-md-1 col-xs-2">@Html.DisplayNameFor(model => model.IhtiyacSahibiTelNo)</th>
                <th class="col-md-1 hidden-xs">@Html.DisplayNameFor(model => model.MuhtacMi)</th>
                <th class="col-md-2 col-xs-2">@Html.DisplayNameFor(model => model.EklenmeTarih)</th>
                <th class="col-md-2 col-xs-2">@Html.DisplayNameFor(model => model.KontrolTarih)</th>
                <th class="col-md-2 col-xs-2">@Html.DisplayNameFor(model => model.TahminiTeslimTarihi)</th>
                <th class="col-md-1 hidden-xs">@Html.DisplayNameFor(model => model.TeslimTamamlandiMi)</th>
                <th class="col-md-1 col-xs-1">İşlemler</th>
            </tr>
        </thead>
        <tbody class="points_table_scrollbar" id="tablo_tbody"></tbody>
    </table>
    <script src="~/Scripts/IhtiyacSahibiKontrolListeleScript.js"></script>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Lütfen Bekleyiniz. İhtiyac Sahipleri Listeleniyor...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:100%"> <span class="sr-only"> </span> </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>




@*<h2>İhtiyaç Sahibi Kontrol Listesi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiAdiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiTelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuhtacMi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontrolTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TahminiTeslimTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeslimTamamlandiMi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IhtiyacSahibiAdiSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IhtiyacSahibiTelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IhtiyacSahibiAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuhtacMi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EklenmeTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KontrolTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TahminiTeslimTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeslimTamamlandiMi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
