@model BusinessLayer.Models.IhtiyacSahibiModelleri.IhtiyacSahibiModel

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İhtiyaç Sahibi Sil</h2>

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div class="col-md-12 col-xs-12">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IhtiyacSahibiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IhtiyacSahibiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiTelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IhtiyacSahibiTelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IhtiyacSahibiAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir.SehirAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir.SehirAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IhtiyacSahibiAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IhtiyacSahibiAciklama)
        </dd>
    </dl>

    @using (Html.BeginForm("IhtiyacSahibiSil", "IhtiyacSahibi", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Hidden("id", Model.IhtiyacSahibiId)
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "Liste")
        </div>
    }
</div>
