@model BusinessLayer.Models.IhtiyacSahibiModelleri.IhtiyacSahibiTeslimModel

@{
    ViewBag.Title = "Teslim Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>İhtiyaç Sahibi Teslim Onaylama</h2>
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(m => m.IhtiyacSahibiKontrolId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.HiddenFor(m => m.IhtiyacSahibiAdiSoyadi)
                @Html.LabelFor(model => model.IhtiyacSahibiAdiSoyadi, htmlAttributes: new { @class = "control-label col-md-4" })
                <h5>@Html.DisplayTextFor(model => model.IhtiyacSahibiAdiSoyadi)</h5>
            </div>
            <div class="col-md-6">
                @Html.HiddenFor(m => m.IhtiyacSahibiTel)
                @Html.LabelFor(model => model.IhtiyacSahibiTel, htmlAttributes: new { @class = "control-label col-md-4" })
                <h5>@Html.DisplayFor(model => model.IhtiyacSahibiTel, new { htmlAttributes = new { @class = "form-control" } })</h5>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.HiddenFor(m => m.IhtiyacSahibiAdres)
                @Html.LabelFor(model => model.IhtiyacSahibiAdres, htmlAttributes: new { @class = "control-label col-md-4" })
                <h5>@Html.DisplayFor(model => model.IhtiyacSahibiAdres, new { htmlAttributes = new { @class = "form-control" } })</h5>
            </div>
            <div class="col-md-6">
                @Html.HiddenFor(m => m.IhtiyacSahibiIl)
                @Html.LabelFor(model => model.IhtiyacSahibiIl, htmlAttributes: new { @class = "control-label col-md-4" })
                <h5>@Html.DisplayFor(model => model.IhtiyacSahibiIl, new { htmlAttributes = new { @class = "form-control" } })</h5>
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(m => m.MaddiBagis)
            @Html.LabelFor(model => model.MaddiBagis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <h5>@Html.DisplayFor(model => model.MaddiBagis, new { htmlAttributes = new { @class = "form-control" } })</h5>
            </div>

            @Html.LabelFor(model => model.MaddiBagisYapildiMi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.CheckBoxFor(model => model.MaddiBagisYapildiMi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaddiBagisYapildiMi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @for (int i = 0; i < Model.ihtiyacSahibiTeslimEdilecekEsyaList.Count; i++)
            {
                @Html.HiddenFor(m => Model.ihtiyacSahibiTeslimEdilecekEsyaList[i].EsyaId)
            <div class="col-md-12" style="margin-bottom:3px">
                <div class="col-md-2">
                    &emsp;
                </div>
                <div class="col-md-2">
                    @Html.HiddenFor(m => Model.ihtiyacSahibiTeslimEdilecekEsyaList[i].EsyaAdi)
                    @Html.Label(Model.ihtiyacSahibiTeslimEdilecekEsyaList[i].EsyaAdi, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => Model.ihtiyacSahibiTeslimEdilecekEsyaList[i].Adet, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    <b>Teslim Edildi Mi?</b>    @Html.CheckBoxFor(model => Model.ihtiyacSahibiTeslimEdilecekEsyaList[i].TeslimEdildiMi, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2">
                    &emsp;
                </div>
            </div>
            }

        </div>
        <div class="form-group">
            <div class="col-md-2">
                &emsp;
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.RandevuTarihi)
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RandevuTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RandevuTarihi, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                &emsp;
            </div>

        </div>
        <div class="form-group">

            <center>
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </center>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Listeye Geri Dön", "IhtiyacSahibiKontrolListesi")
</div>