@model BusinessLayer.Models.EsyaModelleri.EsyaModel

@{
    ViewBag.Title = "Eşya Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-xs-12">
    <h2>Eşya Düzenle</h2>
    @if (TempData["hata"] != null)
    {
        <div class="col-md-12 col-xs-12">
            <div class="alert alert-danger">
                @TempData["hata"].ToString()
            </div>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m=>m.EsyaId)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.EsyaAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.EsyaAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EsyaAdi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <center>
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </center>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Listeye Geri Dön", "Liste")
    </div>

</div>