@model List<BusinessLayer.Models.NavbarModel>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menü</li>
    @foreach (var navbarModel in Model)
    {
        if (!(navbarModel.AltKategoriMi))
        {
            if (navbarModel.AltKategoriSayisi == null)
            {
                <li><a href="/@navbarModel.UrlYol"><i class="@navbarModel.UrlClass"></i> <span>@navbarModel.UrlText</span></a></li>
            }
            else
            {
                <li class="treeview">
                    <a href="#">
                        <i class="@navbarModel.UrlClass"></i> <span>@navbarModel.DropDownBaslik</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/@navbarModel.UrlYol">@navbarModel.UrlText</a></li>
                        @foreach (var navbarAltKategoriItem in navbarModel.altKategoriler)
                        {
                            <li><a href="/@navbarAltKategoriItem.UrlYol">@navbarAltKategoriItem.UrlText</a></li>
                        }
                    </ul>
                </li>
            }
        }
    }
</ul>